body {
  line-height: 1.6;
}

h1 h2,
h3,
h4,
h5 {
  line-height: 1;
  margin: 0;
}
p {
  margin: 0;
}

.nav-item a,
.btn-grp a {
  font-size: 1.0912rem;
}

.fs-600 {
  font-size: 40px;
}

.p-300 {
  font-size: 17px;
}

@media (min-width: 768px) {
  .fs-600 {
    font-size: 45px;
  }
  .p-300 {
    font-size: 17px;
  }
  .nav-item a,
  .btn-grp a {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  .fs-600 {
    font-size: 50px;
  }
  .p-300 {
    font-size: 18px;
  }
  .nav-item a,
  .btn-grp a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .fs-600 {
    font-size: 55px;
  }
  .p-300 {
    font-size: 19px;
  }
  .nav-item a,
  .btn-grp a {
    font-size: 1.3rem;
  }
}
